.features {
 
  @media screen and (min-width:1200px) {
    padding-top: 94px;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width:768px){
      text-align: left;
    }
  }
}
.features__list {
 @media screen and (min-width:768px){
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
  }
 @media screen and (min-width:1200px) {
    flex-wrap: nowrap;
  }
} 

.features section {
  margin-bottom: 0;
}
.features__item {
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width:768px) {
  width: 270px;
  margin-right: 30px;}
}
.features__item:last-child {
  @media screen and (min-width:1200px) {
  margin-right: 0;}
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-position: center;
  margin-bottom: 30px;}
