.features {
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__list {
    margin: -15px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: -15px;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    margin: 15px;
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }
  // &__item:last-child {
  //   @media screen and (max-width: 767px) {
  //     margin-bottom: 60px;
  //   }
  // }
  // &__item:last-child {
  //   margin-bottom: 0;
  // }
  // &__item:last-child {
  //   @media screen and (min-width: 1200px) {
  //     margin-right: 0;
  //   }
  // }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  & section {
    margin-bottom: 0;
  }
}
