.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: calc(60px - 26.6px);

  &__container {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  &__tablet {
    // margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      // justify-content: left;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__contact {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
      text-align: left;
      margin-right: 70px;
    }
  }
  &__join {
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__link {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--basecolor1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--basecolor3hover);
    }
  }
  &__mail,
  &__tel {
    color: rgba(255, 255, 255, 0.6);
  }
  &__logo {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--basecolor1);
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &__address {
    font-style: normal;
  }
  &__title {
    color: var(--basecolor1);
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &__sociallist {
    display: flex;
    justify-content: center;
  }
  &__socialitem {
    margin-right: 10px;
  }
  &__sociallink {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: var(--basecolor3hover);
    }
  }
  &__socialicon {
    width: 20px;
    height: 20px;
    fill: var(--basecolor1);
  }
}
