.form-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width:1200px) {
  display: block;
  margin: 0;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: flex-start;
  }
  
  &__title {
  font-style: bold;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--basecolor1);
  margin-bottom: 20px;
  @media screen and (min-width:1200px){
    text-align: left;
  }
  }

  &__button {
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--basecolor3hover);
    border-radius: 4px;
    margin-left: 12px;
    text-align: center;
    padding-bottom: 10px;
    color: var(--basecolor1);
    margin-top: 20px;
  }

  &__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--basecolor1);
  padding-left: 16px;
  @media screen and (min-width:1200px) {
    width: 358px ;
  }
  }
  &__field {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    @media screen and (min-width:1200px) {
      display: block;
      flex-direction: row; 
      text-align: left;
      align-items: center;
      padding-left: 93px;
    }
  }
  &__icon {
    fill: var(--basecolor1);
    transform: translateY(5px);
  }
  &__inputbox {
    display: flex;
    flex-direction: row;
  }
}
