.header {
  background-color: inherit;
  border-bottom: 1px solid #ececec;

}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basecolor2);
  margin-right: 93px;
}
.logocolor {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basecolor3hover);
}
.header__nav {
  display: none;
}
.header__list {
display: flex;
}

.header-contact .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  &:hover,
  &:focus {
    color: var(--basecolor3hover);
  }
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basecolor2);
  &:hover,
  &:focus {
    color: var(--basecolor3hover);
  }
}
.header-contact {
  margin-left: auto;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__item .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item-contact:not(:last-child){
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.header__link-contact {
    display: block;
    text-decoration: none;
  }
  

.header__list .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--basecolor3hover);
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header__nav {
  display: none;
  @media screen and (min-width: 768px){
    display: flex;
    
  }
}
.header-contact {
  display: none;
  @media screen and (min-width: 768px){
  display: block;}
  @media screen and (min-width: 1200px){
   margin-left: auto;
  }
}
.header__list-contact {
  @media screen and (min-width: 1200px){
    display: flex;
    align-items: center;
  }

}
.menu_open_btn {
  margin-left: auto;
  background-color: #ffffff;
  border:none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--basecolor3hover);
  }
  @media screen and (min-width: 768px)
  {display: none;}
}
.mob__menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 0;
  padding-bottom: 0;
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility;
}
.mob__menu.is-hidden {
  transform: translateY(100%);
}
.container_mob {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-top: 48px;
  position: relative;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.menu_close_btn {
  position: absolute;
  display: block;
  margin-left: auto;
  top: 10px;
  right: 15px;
  background-color: #fff;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--basecolor3hover);
  }
}
.header__list-tel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__item-tel:not(:last-child){
  margin-bottom: 32px;
}
.header-contact-tel {
  &__list {
    margin-bottom: 64px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
  }
}
}

.header__link-tel {
font-weight: 500;
font-size: 40px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.02em;
color: var(--basecolor2);
&--current {
  color: var(--basecolor3hover);
}
}
.header__link-contact-tel {
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: var(--basecolor3hover);
}

.header__link-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.social_network-tel__link {
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
}

.social_network-tel__item {
&:not(:first-child){
  padding-left: 10px;
}
&:not(:last-child){
padding-right: 10px;
border-right: 1px solid rgba(33, 33, 33, 0.2);}
}


.social_network-tel__list {
  display: flex;
  padding-right: 10px;
}