.main {
  padding-top: 60px;
  padding-bottom: 60px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      justify-content: center;
      margin-bottom: var(--intend30px);
      flex-wrap: nowrap;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &__item:first-child {
    margin-left: 0;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  &__item:nth-child(-n + 3) {
    margin-bottom: var(--intend15px);
  }
  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__btn {
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    color: var(--basecolor2);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .main__list &:hover,
    .main__list &:focus {
      color: var(--basecolor1);
      background: var(--basecolor3hover);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.current-button {
  color: var(--basecolor1);
  background: var(--basecolor3hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
