.main {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.main__item {
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.main__item:first-child {
  margin-left: 0;
}
.main__item:not(:last-child) {
  margin-right: 8px;
}
.main__btn {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--basecolor2);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .main__list &:hover,
  .main__list &:focus {
    color: var(--basecolor1);
    background: var(--basecolor3hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.current-button {
  color: var(--basecolor1);
  background: var(--basecolor3hover);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
