.container__make-order {
  padding: 0;
  width: 100%;
}
.make-order {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/makeorder_bg_tel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/makeorder_bg_tel_x2.jpg)
  }

  @media screen and (min-width:768px){
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/makeorder_bg_tab.jpg);
    padding-left: 204px;  
    padding-right: 204px;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/makeorder_bg_tab_x2.jpg)
  }
  }
  @media screen and (min-width:1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/makeorderbackground.jpg);
    padding-left: 204px;  
    padding-right: 204px;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/makeorderbackground_x2.jpg)
  }
  }
}
.make-order__title {
     margin: 0 auto;
		font-weight: 900;
		letter-spacing: 0.06em;
 		text-transform: uppercase;
 		text-align: center;
 		color: #ffffff;
	
	
		@media screen and (max-width: 1199px) {
			max-width: 360px;
			font-size: 26px;
			line-height: 1.62;
			text-align: center;
		}
  
	 	@media screen and (min-width: 1200px) {
			max-width: 696px;
			font-size: 44px;
			line-height: 1.36;
		}
  }
  
.make-order__button {
  color: var(--basecolor1);
  background: var(--basecolor3hover);
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.current {
  color: var(--basecolor3hover);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--basecolor3hover);
  left: 0;
  bottom: -33px;
}
