.our-work {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.our-work__list {
  display: flex;
}
.our-work__item + .our-work__item {
  margin-left: 30px;
}
.our-work__item:first-child {
  margin-left: 0;
}
.our-work__img {
  position: relative;
}
.our-work__text {
  position: absolute;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--basecolor1);
  background-color: rgba(47, 48, 58, 0.8);
}
